* {
  margin: 0px;
  box-sizing: border-box;
  font-family: nyt-franklin;
}

nav {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #dddddd;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
}

.bars {
  display: inline-block;
  margin-right: 15px;
}

.nav-buttons {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
}

.nav-buttons:hover {
  background-color: rgb(240, 240, 240);
}

.bar1, .bar2, .bar3 {
  width: 15px;
  height: 2px;
  background-color: #000;
  margin-bottom: 2px;
  border-radius: 10px;
}

.title {
  display: inline-block;
  font-size: 14px;
  margin-left: 25px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}

.right-content {
  justify-self: end;
  margin-right: 20px;
}

.login-buttons {
  background-color: rgb(50, 104, 145);
  border: 1px solid rgb(60, 114, 155);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700px;
  color: white;
  height: 35px;
  margin-left: 5px;
}
